<%= form_for @profile, html:{class: 'chirpy-form'}  do |f| %>
<div class="field input-field">
  <%= f.label :name %>
  </div>
  <div class="field input-field">
  <%= f.text_field :name %>
  </div>
  <div class="field input-field">
  <%= f.label :age %>
  </div>
  <div class="field input-field">
  <%= f.text_field :age %>
  </div>

  <div class="field input-field ">
  <%= f.file_field :image %>
  </div>
  <div class="field input-field">
  <%= f.label :bio %>
  </div>
  <div class="field input-field">
  <%= f.text_field :bio %>
  </div>

  <div class="field input-field">
  <%= f.select :gender,%w{Male Female}, required: true, placeholder: 'Gender', class: 'form-control' %>
</div>


<%= fields_for @language, html:{class: 'chirpy-form', id: 'lang-form'}  do |f| %>
<div class="field input-field">
  <%= f.label "Native language" %>
</div>
<div class="field input-field" id="lang">
  <%= f.text_field :language_native %>
  </div>
  <div class="field input-field">
  <%= f.label "Language to learn" %>
</div>
<div class="field input-field" id="lang">
  <%= f.text_field :language_target %>
  </div>
<div class="field input-field">
  <%= f.label "Current proficiency" %>
</div>
 <div class="field input-field" id="prof">
  <%= f.text_field :proficiency %>
  </div>

<% end %>


 <div class="actions">
  <%= f.submit "Create Profile", class: 'waves-effect waves-light btn log-in-button' %>
  </div>

<% end %>


