
<div class="container">
  <div class="row">
    <main class="col s6 offset-s3 z-depth-3 signup-details">
      <h4 class="signup-center">Enter Details</h4>
        <%= form_for @profile, html:{class: 'chirpy-form'}  do |f| %>
        <div class="field input-field">
         <p>Name</p>
          <%= f.text_field :name %>
        </div>
        <div class="field input-field">
          <p>Age</p>
          <%= f.text_field :age %>
          </div>
        <div class="field input-field ">
          <p>Profile Photo</p>
        <%= f.file_field :image %>
        </div>
        <div class="field input-field">
        <p>About Me</p>
        <%= f.text_field :bio %>
        </div>
        <div class="field input-field">
          <p>Gender</p>
        <%= f.select :gender,%w{Male Female}, required: true, placeholder: 'Gender', class: 'form-control' %>
        </div>

        <%= fields_for @language, html:{class: 'chirpy-form'}  do |f| %>
          <div class="field input-field" id="lang">
            <p>Native Language</p>
            <%= f.select :language_native, ['English', 'French', 'German', 'Spanish'], required: true, class: 'form-control' %>
            </div>
            <div class="field input-field" id="lang">
              <p>Language to Learn</p>
            <%= f.select :language_target, ['English', 'French', 'German', 'Spanish'], required: true, class: 'form-control'  %>
            </div>

           <div class="field input-field" id="prof">
            <p>Level</p>
            <%= f.select :proficiency, ['Beginner', 'Average', 'Fluent'], required: true, class: 'form-control' %>
            </div>
        <% end %>


      <div class="actions">
        <%= f.submit "Create Profile", class: 'waves-effect waves-light btn log-in-button' %>
      </div>

<% end %>

</main>
  </div>
</div>