<div class="container">
  <div class="row">
    <main class="col s6 z-depth-3 profile-main">

<%= form_for @profile do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <%= f.label :gender %>
  <%= f.select :gender,%w{Male Female}, required: true, placeholder: 'Gender', class: 'form-control' %>

  <%= f.submit "Update Profile", class: 'waves-effect waves-light btn log-in-button'%>
<% end %>

   </main>
  </div>
</div>