
<main class="chirpy-form form-page">
      <h2><%= t('.Edit_Profile')%></h2>

<%= form_for @profile, html:{class: 'chirpy-form'} do |f| %>

  <label><%= t('.Name')%></label>
  <p><%= f.text_field :name %></p>
  <p><%= t('.Age')%></p>
  <p><%= f.text_field :age %></p>
  <p><%= t('.Profile_Photo')%></p>
  <p><%= f.file_field :image %></p>
  <p> <%= t('.About_Me')%></p>
  <p><%= f.text_field :bio %></p>
  <p><%= t('.Gender')%></p>
  <p><%= f.select(:gender, @genderArray, class: 'form-control', selected: @profile.gender) %></p>



  <ul>
    <% @language.each do |lang| %>
      <li>


        <label><%= t('.Language_To_Learn')%>: <%= select_tag(:language_target, options_for_select(@languagesArray, selected: @lang_target)) %></label>

        <label><%= t('.Current_Level')%>: <%= select_tag(:proficiency, options_for_select(@proficiencyArray, selected: lang.proficiency)) %></label>
      </li>
    <% end %>
  </ul>



  <%= f.submit t(".Update_Profile", :default => "Update Profile"), class: 'btn white' %>

<% end %>

   </main>

