<div class="container">
  <div class="row">
    <main class="col s6 offset-s2 z-depth-3 update-profile">
      <h4><%= t('.Edit_Profile')%></h4>

<%= form_for @profile, html:{class: 'chirpy-form'} do |f| %>
  <p><%= t('.Name')%></p>
  <p><%= f.text_field :name %></p>
  <p><%= t('.Age')%></p>
  <p><%= f.text_field :age %></p>
  <p><%= t('.Profile_Photo')%></p>
  <p><%= f.file_field :image %></p>
  <p> <%= t('.About_Me')%></p>
  <p><%= f.text_field :bio %></p>
  <p><%= t('.Gender')%></p>
  <p><%= f.select :gender,%w{Male Female}, required: true, placeholder: 'Gender', class: 'form-control' %></p>


  <ul>
    <% @language.each do |lang| %>
      <li>

        <p><%= t('.Language_To_Learn')%>: <%= select_tag(:language_target, options_for_select(@languagesArray, selected: @lang_target)) %></p>

        <p><%= t('.Current_Level')%>: <%= select_tag(:proficiency, options_for_select(['Beginner', 'Average', 'Fluent'], selected: lang.proficiency)) %></p>
      </li>
    <% end %>
  </ul>


  <%= f.submit t(".Update_Profile", :default => "Update Profile"), class: 'waves-effect waves-light btn update-profile-button'%>
<% end %>

   </main>
  </div>
</div>
