
    <main class="col s12 home-page">
      <h1 class="welcome">Chirpy</h1>
      <h3 class="choose-language">Choose Your Language</h3>
      <div class="flags">
      <%= image_tag("ireland.png") %>
      </div>
      <div class="flags">
      <%= image_tag("Sweden.png") %>
      </div>
      <div class="flags">
      <%= image_tag("Norway.png") %>
      </div>
      <div class="flags">
      <%= image_tag("United-Kingdom.png") %>
     </div>
     <div class="flags">
      <%= image_tag("Spain.png") %>
     </div>
     <div class="flags">
      <%= image_tag("Germany.png") %>
     </div>
    </main>



