<div class="container">
  <div class="row">
    <main class="col s12 z-depth-3" id="signup_main">

<%= image_tag @profile.image.url(:thumb, timestamp: false) %>
<p>Name: <%= @profile.name %></p>
<p>Bio: <%= @profile.bio %></p>
<p>Age: <%= @profile.age %></p>
<p>Gender: <%= @profile.gender %></p>


  </main>
  </div>
</div>