<div class="container">
  <div class="row">
    <main class="col s6 z-depth-3 profile-main">


<%= image_tag @profile.image.url(:thumb, timestamp: false) %>
<p>Name: <%= @profile.name %></p>
<p>Bio: <%= @profile.bio %></p>
<p>Age: <%= @profile.age %></p>
<p>Gender: <%= @profile.gender %></p>

    <% @language.uniq.each do |lang| %>
        <p>Native language: <%= lang.language_native %></p>
        <p>Language to learn: <%= lang.language_target %></p>
        <p>Current proficiency: <%= lang.proficiency %></p>
    <% end %>

<%= link_to 'edit your profile', edit_profile_path(@profile), class: 'waves-effect waves-light btn sign-up-button'  %>


  </main>
  </div>
</div>