<!DOCTYPE html>
<html ng-app="chirpy">
  <head>
    <script type="text/javascript">
      <% if current_user && current_user.profile %>
      window.currentUser =  '<%= current_user.profile.id %>';
      <% end %>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirpy</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body class="container" ng-controller="ApplicationController as appCtrl">
  <header class="row clearfix">

    <h2 class="col-xs-12 col-sm-6"><%= link_to 'Chirpy', root_path, class: 'enlarge' %></h2>

    <section class="col-xs-12 col-sm-6">
      <% if user_signed_in? %>
      <%= link_to t('.My_Profile'), new_user_session_path, class: 'enlarge'%>
      <%= link_to t('.Sign_Out'), destroy_user_session_path, method: :delete,   class: 'enlarge' %>
      <% else %>
        <%= link_to 'Log in', "/en/users/sign_in", class: 'enlarge'%>
      <% end %>
    </section>
  </header>
    <%= yield %>
  </body>
</html>
