<!DOCTYPE html>
<html>
  <head>
    <title>Chirpy</title>
    <link rel="shortcut icon" href="http://cdn.animals-pics.com/pictures/www.bluebirdfinance.com/wp-content/uploads/2011/10/Original-Blue-Bird-Logo1.jpg"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <%= csrf_meta_tag %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <meta name="google-translate-customization" content="838253ce8325d05-2793fdcc698d5f5c-g9d6648fd4da037e9-1c"></meta>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>

  <body class="container z-depth-3">
      <div class="row">
          <header>
            <h2>Chirpy</h2>
            <% if user_signed_in? %>
              <p>Welcome <%= current_user.email %></p>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Log in', new_user_session_path %>
              <%= link_to 'Sign up', new_user_registration_path %>
            <% end %>
          </header> 
      </div>
    <%= notice %>  
    <%= yield %>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <div class="g-hangout" data-render="createhangout"></div>
  </script>
  <div id="google_translate_element"></div><script type="text/javascript">
  function googleTranslateElementInit() {
   new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
  }

  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
</html>
