<!DOCTYPE html>
<html>
  <head>
    <title>Chirpy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  </head>
  <body class="container z-depth-3">
      <div class="row">
          <header>
            <h2>Chirpy</h2>
            <% if user_signed_in? %>
              <p>Welcome <%= current_user.email %></p>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Log in', new_user_session_path %>
              <%= link_to 'Sign up', new_user_registration_path %>
            <% end %>
          </header> 
      </div>
    <%= notice %>  
    <%= yield %>

  </body>
</html>
