<!DOCTYPE html>
<html ng-app="chirpy">
  <head>
    <script type="text/javascript">
      <% if current_user && current_user.profile %>
      window.currentUser =  '<%= current_user.profile.id %>';
      <% end %>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirpy</title>
    <link rel="shortcut icon" href="http://cdn.animals-pics.com/pictures/www.bluebirdfinance.com/wp-content/uploads/2011/10/Original-Blue-Bird-Logo1.jpg"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

    <%= csrf_meta_tag %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body class="container" ng-controller="ApplicationController as appCtrl">
  <header class="">
    <%= link_to root_path do%>
      <div class="header-logo">
      </div>
    <% end %>

    <h5 class="logo-font">Chirpy</h5>
      <% if user_signed_in? %>
      <%= link_to t('.My_Profile'), new_user_session_path, class: 'login-button white'   %>
        <%= link_to t('.Sign_Out'), destroy_user_session_path, method: :delete, class: 'btn sign-out-button white'   %>
      <% else %>
        <%= link_to 'Log in', "/en/users/sign_in", class: 'btn login-button white'   %>
      <% end %>
  </header>
    <%= notice %>
    <%= yield %>

  </body>
</html>
